**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/publish
**/*.user
**/*.suo
**/node_modules
**/Thumbs.db
**/.DS_Store
**/appsettings.Development.json
**/appsettings.Production.json
**/*.md
**/tools
