{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedOrigins": "http://localhost:3000",
  "MongoDb": {
    "ConnectionString": "YOUR_MONGODB_CONNECTION_STRING_HERE",
    "DatabaseName": "english_quiz_db"
  },
  "Jwt": {
    "SecretKey": "YOUR_SECRET_KEY_AT_LEAST_32_CHARACTERS_LONG",
    "Issuer": "QuizPlatform",
    "Audience": "QuizPlatformUsers",
    "ExpirationMinutes": 120
  },
  "Groq": {
    "ApiKey": "YOUR_GROQ_API_KEY_HERE",
    "Model": "llama-3.3-70b-versatile"
  },
  "Admin": {
    "Username": "admin",
    "Email": "admin@example.com",
    "Password": "ChangeThisPassword123!"
  },
  "Email": {
    "SmtpHost": "smtp.gmail.com",
    "SmtpPort": 587,
    "SmtpUser": "YOUR_EMAIL@gmail.com",
    "SmtpPass": "YOUR_GMAIL_APP_PASSWORD",
    "FromEmail": "YOUR_EMAIL@gmail.com",
    "FromName": "Quiz Platform"
  }
}
